<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmed.inventoryapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/inventory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".showActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showActivity.AddActivity"
            android:parentActivityName=".showActivity.MainActivity" />
        <activity
            android:name=".showActivity.DetailsActivity"
            android:parentActivityName=".showActivity.MainActivity" />

        <provider
            android:name=".ProductData.ProductsProvider"
            android:authorities="com.example.inventory"
            android:exported="false" />

        <activity
            android:name=".showActivity.EditActivity"
            android:parentActivityName=".showActivity.MainActivity"></activity>
    </application>

</manifest>